---
layout: default
permalink: /tag/
---
<div class="col-md-9 col-content">
    {% for tag in site.tags%}
    <div class="panel panel-pithy tag" id="{{tag.first}}">
      <div class="panel-heading">{{tag.first}}</div>
      <div class="panel-body">
        {% for post in tag.last %}
          <div class="col-md-3 post">
            <a href="{{ post.url | prepend: site.baseurl}}">
              <p class="post-date"><i class="fa fa-calendar-o"></i>{{post.date | date: "%Y-%m-%d"}}</p>
              <p class="post-title">{{post.title}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

</div>
<div class="col-md-3 col-sidebar">
    {% include sidebar_tags.html %}
</div>
