.col-content{
  padding-left: 0;
}

@media screen and (max-width: 992px) {
  .col-content{
    padding-right: 0;
  }
}

.col-sidebar{
  padding-left: 0;
  padding-right: 0;
}


footer{
  padding-top: 20px;
  padding-bottom: 40px;

    font-size: 12px;
    color: $gray-dark;
}
