//文章显示
.post{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .title{
    padding: 0;
    margin: 0;
    font-size: $font-size-big;
    color: $gray-darker;

    i{
      color: $primary-color;
      margin-right: $font-size-small;
    }
  }

  .info{
    margin-top: 10px;
    font-size: 12px;
    color: $gray-dark;
    li{
      display: inline-block;
      padding: 0 10px;
      margin-right: 5px;
      border-right: 1px solid $gray;

      &:last-child{
        border: none;
      }
    }


    .author{
      color: $primary-color;
    }
    .tag{
      color: $primary-color;
      &::before,&::after{
        color: $white;
      }
    }
  }
  .excerpt{
    color: $gray-dark;
  }

  .content{
    ul{
      list-style: disc inside;
    }
  }

  .operate{
    a,span{
      color: $gray-dark;
      margin-left: 3px;
    }
    a:hover{
      color: $gray-darker;
      text-decoration: none;
    }
  }

  img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
