.totop{
  display: none;

  position: fixed;
  height: 40px;
  width: 40px;
  right: 20px;
  bottom: 20px;


  line-height: 40px;
  text-align: center;
  color: $white;

  border-radius: 7px;
  background-color: $gray-dark;

  cursor: pointer;

  &:hover{
    background-color: $gray-darker;
  }
}
