<div class="panel panel-pithy author">
    <div class="panel-heading avastar">
        <img src="{{ site.baseurl}}/assets/images/avatar.jpg" alt="Jaylin Wang"/>
    </div>
    <div class="panel-body">
        坚持自己的信仰，相信每一个人都有蜕变的那一刻。
    </div>
    <div class="panel-footer social">
        <ul>
            <li class="weibo"><a href="http://www.weibo.com/guovz/" alt="新浪微博" target="_blank"><i class="fa fa-weibo"></i></a></li>
            <li class="github"><a href="https://github.com/guovz" alt="github" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="facebook"><a href="https://www.facebook.com/guovz" alt="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="rss"><a href="{{ '/feed.xml' | prepend: site.baseurl}}" alt="订阅" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
</div>
