<div class="panel panel-pithy author">
    <div class="panel-heading avastar">
        <img src="{{ site.baseurl}}/assets/images/avatar.jpg" alt="avatar"/>
    </div>
    <div class="panel-body">
        Your Motto
    </div>
    <div class="panel-footer social">
        <ul>
            <li class="weibo"><a href="https://twitter.com/?lang=en" alt="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="github"><a href="https://github.com" alt="github" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="google+"><a href="https://plus.google.com" alt="google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li class="facebook"><a href="https://www.facebook.com" alt="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="rss"><a href="{{ '/feed.xml' | prepend: site.baseurl}}" alt="Rss" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
</div>
