<!-- this is post list -->
<div class="panel panel-pithy posts">
    <div class="panel-heading">
      <h3 class="title">
        <a href="{{ post.url | prepend: site.baseurl}}"><i class="fa fa-bookmark-o"></i>{{post.title}}</a>
      </h3>
    </div>
    <div class="panel-body excerpt">
        {% if post.excerpt.size > 32 %}
          {{ post.excerpt }}
        {% else %}
          {{ post.content | strip_html | strip_newlines | truncate: 160 }}
        {% endif %}
    </div>
    <div class="panel-footer operate">
        <div class="pull-right">
          <span class="time">
              <i class="fa fa-clock-o"></i> {{ post.date | date: "%Y-%m-%d"}}
            </span>
          <a class="read" href="{{ post.url | prepend: site.baseurl }}#post-content">
            <i class="fa fa-gg"></i> {{ 'list.read_more' | translate }}
          </a>
          <a class="comment" href="{{ post.url | prepend: site.baseurl }}#post-comment">
            <i class="fa fa-comment-o"></i> {{ 'list.comment' | translate }}
          </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
