<!-- sidebar:category list -->
<div class="panel panel-default categories">
    <div class="panel-heading title">
        {{ "sidebar.categories" | translate }}
    </div>
    <div class="panel-body list">
        <ul>
          {% for category in site.categories %}
          <li>
              <a class="catelink" href="{{site.baseurl}}/categories/{{category.first}}">
                  {{ category.first }}&nbsp;<span class="count">[{{ category.last.size }}]</span>
              </a>
          </li>

          {% endfor %}
        </ul>
    </div>
</div>
